

.track {
    white-space: nowrap;
    will-change: transform;
    animation: marquee  15s linear infinite;
    width: 180%;
}

.track:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
